@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Uncial+Antiqua&display=swap');

@layer base {

  html {
    box-sizing: border-box;
    height: 100%;
}

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }
  

  /* Laptop / Tablet */
@media (min-width: 768px) {
  body {
      font-size: 16px;
  }
}

/* Escritorio */
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}
  
  h1 {
      font-family: "Caudex", serif;
      font-weight: 700;
      font-style: normal;
    }
  
    h2, h3, h4, h5, h6 {
      font-family: "Caudex", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  p, a {
    font-family: "Montserrat", sans-serif;
  }
}