<footer>
  <div class="social-links">
    <a href="https://www.instagram.com/ku_akis?igsh=eWlicDE5aGh3cmFo&utm_source=qr" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
      <i class="fab fa-instagram"style="color: #ffffff;" ></i>
    </a>
    <a href="https://x.com/kuakis_art?s=21&t=ALYTc_aGdNwu4cWadgsfoQ" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
      <i class="fab fa-twitter" style="color: #ffffff;"></i>
    </a>
    <a href="https://www.behance.net/valentiramrez13" target="_blank" rel="noopener noreferrer" aria-label="Behance">
      <i class="fab fa-behance" style="color: #ffffff;"></i>
    </a>
    <a href="https://github.com/vramirezm07" target="_blank" rel="noopener noreferrer" aria-label="Behance">
      <i class="fa-brands fa-github" style="color: #ffffff;"></i>
    </a>
  </div>
  
</footer>

<style>
  footer {
    padding: 2rem;
    background-color: rgb(9, 21, 17);
    text-align: center;
    width: 100%;
    margin-top: auto;
  }

  .social-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .social-links a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    transition: transform 0.2s ease;
  }

  .social-links a:hover {
    color: #666;
    transform: scale(1.1);
  }
</style> 