---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
---

<ProjectLayout
  title="Ateez - Towards the light"
  description="
    <p>Poster promocional creado para el grupo Ateez, inspirado en su concepto 'Towards the light'.</p>
    <p>Características del proyecto:</p>
    <ul>
      <li>Diseño de poster promocional</li>
      <li>Composición dinámica</li>
      <li>Uso de efectos de luz y sombra</li>
      <li>Tipografía personalizada</li>
    </ul>
    <p>Este proyecto fue creado como parte de mi portafolio de diseño gráfico, demostrando mi habilidad en la creación de materiales promocionales y el manejo de conceptos artísticos.</p>
  "
  mediaUrl="/img/proyectos/proyectofinal_illustrator_grande.jpg"
  mediaType="image"
/> 