---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
---

<ProjectLayout
  title="Gojo"
  description="
    <p>Ilustración digital creada en Adobe Illustrator inspirada en el personaje Gojo de Jujutsu Kaisen.</p>
    <p>Características del proyecto:</p>
    <ul>
      <li>Ilustración vectorial</li>
      <li>Uso de gradientes y efectos de luz</li>
      <li>Estilo minimalista y moderno</li>
    </ul>
    <p>Este proyecto fue creado como parte de mi portafolio de ilustraciones digitales, demostrando mi habilidad en el manejo de Adobe Illustrator y la creación de arte vectorial.</p>
  "
  mediaUrl="/img/proyectos/gojo_illustrator_grande.jpg"
  mediaType="image"
/> 