---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
---

<ProjectLayout
  title="Proyecto 1"
  description="
    <p>Este es un proyecto increíble que demuestra mis habilidades en diseño y desarrollo.</p>
    <p>Características principales:</p>
    <ul>
      <li>Diseño moderno y minimalista</li>
      <li>Interfaz intuitiva</li>
      <li>Optimizado para todos los dispositivos</li>
    </ul>
    <p>El proyecto fue desarrollado utilizando las últimas tecnologías y mejores prácticas de la industria.</p>
  "
  mediaUrl="/src/assets/kuaki_icon_.png"
  mediaType="image"
/> 