@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Uncial+Antiqua&display=swap');


h1 {
    font-family: "Caudex", serif;
    font-weight: 700;
    font-style: normal;
  }

  h2, h3, h4, h5, h6 {
    font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}
