---
import Header from '../components/Header.astro';
import CursorFollower from '../components/CursorFollower.astro';
import '../styles/global.css';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- favicon -->
		<link rel="icon" type="image/svg+xml" href="src/assets/kuaki_icon_.png" />
		<meta name="apple-mobile-web-app-title" content="About me" />
		<link rel="manifest" href="src/assets/kuaki_icon_.png" />
		<!-- Open Graph Metadata -->
		<meta property="og:title" content="Kuaki">
		<meta property="og:description" content="Website with information about Kuaki.">
		<meta property="og:url" content="https://github.com/vramirezm07/alter-kuaki.git">
		<meta property="og:type" content="website">
		<title>Kuaki</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	</head>
	<body>
		<CursorFollower />
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0 auto;
		max-width: 100%;
		max-height: 100%;
	}

	main {
		padding: 2rem;
	}

	/* Estilos para el cursor personalizado */
	* {
    cursor: url('img/cursor_final.png'), auto;
  }

  /* Cambiar el cursor al pasar sobre elementos interactivos */
  a:hover, button:hover, .menu-toggle:hover {
    cursor: url('img/cursor_final.png'), pointer;
  }
</style>

