---
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- favicon -->
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="apple-mobile-web-app-title" content="About me" />
		<link rel="manifest" href="./favicon/kuaki-favicon.svg" />
		<!-- Open Graph Metadata -->
		<meta property="og:title" content="Kuaki">
		<meta property="og:description" content="Website with information about Kuaki.">
		<meta property="og:url" content="https://github.com/vramirezm07/alter-kuaki.git">
		<meta property="og:type" content="website">
		<title>Kuaki</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
		<link rel="stylesheet" href="css/global.css">
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	main {
		min-height: calc(100vh - 200px);
		padding: 2rem;
	}

	/* Estilos para el cursor personalizado */
	* {
    cursor: url('img/cursor_final.png'), auto;
  }

  /* Cambiar el cursor al pasar sobre elementos interactivos */
  a:hover, button:hover, .menu-toggle:hover {
    cursor: url('img/cursor_final.png'), pointer;
  }
</style>

